<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-portfolio</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/3.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}" class="logo"></a> 
        <div class="nav-links">
            {% if 'loggedin' in session %}
                <a href="{{ url_for('profile', user_id=session['id']) }}" class="nav-link">Профиль</a>
                <a href="{{ url_for('logout') }}" class="nav-link">Выйти</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="nav-link">Войти</a>
                <a href="{{ url_for('register') }}" class="nav-link">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
    <div class="main">
        <form method="GET" action="{{ url_for('index') }}" class="search-form">
            <input type="text" name="query" placeholder="Поиск портфолио...">
            <button type="submit">Поиск</button>
        </form>
        <div class="portfolio-container">
            {% for portfolio in portfolios %}
                <div class="portfolio-item">
                    <div class="portfolio-info">
                        <h3>{{ portfolio.profession }}</h3>
                    </div>
                    <div class="portfolio-user">
                        <p>Пользователь: <a href="{{ url_for('profile', user_id=portfolio.user_id) }}">{{ portfolio.username }}</a></p>
                        {% if 'loggedin' in session and portfolio.user_id == session['id'] %}
                            <form action="{{ url_for('delete_portfolio', portfolio_id=portfolio.portfolio_id) }}" method="post" style="display:inline;">
                                <button type="submit" class="delete-button">Удалить</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('index', page=page-1, query=query) }}">&laquo; Предыдущая</a>
            {% endif %}
            {% if portfolios|length == 15 %}
                <a href="{{ url_for('index', page=page+1, query=query) }}">Следующая &raquo;</a>
            {% endif %}
        </div>
        <a href="{{ url_for('upload_portfolio') }}" class="link">Разместить свое портфолио</a>
    </div>
    <div class="footer"></div>
</body>
</html>
